<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <strong><%= activity.owner ? activity.owner.user_name : 'Member' %></strong>
  <% if a.trackable %>
    停止了任务 <b><%= a.trackable.title %>.</b>(<%= a.trackable.project.title %>)
  <% else %>
    创建的项目已被删除.
  <% end %>
</li>
