<h2 class="text-center">邀请团队成员</h2>
<%= simple_form_for [@team, @team_permission] do |f| %>
  <%= f.input :email, placeholder: "请输入邮箱邀请成员" %>
  <%= f.input :permission, label: "设定成员权限", :collection => ["owner","member"] %>
  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>
