<h4 class="text-center">动态显示</h4>
<%= render_activities @activities %>
<%#= @activities.inspect %>

<!-- <% @activities.group_by{|a| a.owner_type}.each do |activity| %>
  <div class="activity">
    <%#= render_activity activity %>
  </div>
<% end %> -->
